@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
  padding: 4px 6px;
  margin: 10px;
  background-color: ghostwhite;
}

.winner{
  background-color: greenyellow;
}

.loser{
  background-color: red;
}

.blank{
  filter: brightness(0);
}

.visible{
  filter: brightness(1);
  transition: filter 5s ease-in-out;
}