@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(103, 144, 199);
}

.countdown{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(29, 29, 29);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer{
  animation-name: size;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  font-size: 100px;
}

@keyframes size {
  from {
    transform:scale(.1);
  }
  to {
    transform:scale(1);
  }
}

.button{
  padding: 4px 6px;
  margin: 10px;
  background-color: ghostwhite;
}

.winner{
  background-color: greenyellow;
}

.loser{
  background-color: red;
}

.blank{
  filter: brightness(0) ;
}

.visible{
  filter: brightness(1);
  transition: filter 1s ease-in-out;
}